---

---

<div class="max-w-[930px] h-[400px] flex justify-center items-center relative">
    <img class="h-full" src="/assets/beer.webp" />
    <img class="ml-[64px] w-[200px] mr-[150px]" src="/assets/chat-bubble.webp" />
    <a class="text-xl underline text-center mt-auto" href="https://creatorsgarten.org/wiki/Sponsorship/sht8" target="_blank" rel="noopener noreferrer">
        details for kind person<br>
        to support us
    </a>
</div>