<nav
  class="flex px-4 justify-between items-center uppercase text-xs font-light font-arimo py-4 scroll-smooth mx-auto container"
>
  <a href="#">Home</a>
  <a href="#agenda">Agenda</a>
  <a href="#sponsor">Sponsors</a>
  <a href="#projects">Projects</a>
  <a href="#tickets">Tickets</a>
</nav>
