---

---

<div class="w-full grid place-items-center">
  <a
    class="underline text-center text-xl hover:no-underline"
    href="https://www.eventpop.me/e/37219/sht8"
  >
    get your ticket
  </a>
</div>
