<div class="max-w-[800px] px-4">
  <h1 id="tickets" class="uppercase font-workbench text-[64px] font-extrabold">
    THE STIPUD HONKATHACK<br />
    IN THAILAND DAN OF SMILE<br />
    FARANG TOOK JAI CHOB SI
  </h1>
</div>
