---
import SponsorList from "./List";
import { sponsors } from "../../sponsor";
---

<section class="min-h-screen" id="sponsor">
  <div class="flex flex-col max-w-xl mx-auto w-full">
    <SponsorList client:load sponsors={sponsors} />
  </div>
</section>
