---
import SponsorList from "./List";
import { getSponsors } from "../../sponsor";

const graabSponsors = getSponsors("Graab");
---

<section class="min-h-screen" id="sponsor">
  <div class="flex flex-col max-w-xl mx-auto w-full">
    <SponsorList client:load sponsors={graabSponsors} />
  </div>
</section>
