<nav
  class="flex flex-col font-normal text-xl justify-center gap-8 items-center bg-black text-white  font-arimo py-[77px] sm:py-12"
>
  <div class="flex flex-col items-center justify-center">
    <p>attack us</p>
    <div class="flex flex-col items-center jusitfy-center">
      <a class="underline hover:no-underline" href="https://grtn.org/fb/"
        >facebook</a
      >
      <a class="underline hover:no-underline" href="https://grtn.org/ig/"
        >instagram</a
      >
      <a
        class="underline hover:no-underline"
        href="https://instagram.com/shit8meme">shit8meme</a
      >
    </div>
  </div>
  <div class="flex flex-col items-center justify-center">
    <p>curious</p>
    <div class="flex flex-col items-center jusitfy-center">
      <a
        class="underline hover:no-underline"
        href="https://creatorsgarten.org/event/sht8">info abt sht8</a
      >
      <a
        class="underline hover:no-underline"
        href="https://gist.github.com/cheeaun/c3fe6cbb11aef1e146a3474dccf63b87"
        >other stupid hackathons</a
      >
      <a
        class="underline hover:no-underline"
        href="https://grtn.org/e/sht8/sponsor">sponsor us</a
      >
    </div>
  </div>
</nav>
