---

---

<nav class="flex justify-center gap-x-14 items-center uppercase text-xs font-light font-plex py-4">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Help</a>
    <a href="#">People</a>
    <a href="#">Contact us</a>
</nav>