---

---

<nav
  class="flex px-4 justify-between items-center uppercase text-xs font-light font-arimo py-4 scroll-smooth"
>
  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#agenda">Agenda</a>
  <a href="#">Contact us</a>
</nav>
